@use '../../global' as g;
//  margin付与
.u-ma {
    margin: auto;
}

@for $i from 1 through 28 {
    /* .u-mb5～.u-mb140まで作成 */
    .u-mb#{$i * 5} {
      margin-bottom: #{$i * 5}px;
      @include g.mq('-md') {
        margin-bottom: #{$i * 3}px;
      }
    }
    /* .u-mt5～.u-mt140まで作成 */
    .u-mt#{$i * 5} {
      margin-top: #{$i * 5}px;
      @include g.mq('-md') {
        margin-top: #{$i * 3}px;
      }
    }
  }

  .u-mt24 {
    margin-bottom: 24px;
  }

/* 個別調整が必要なもの */
  @include g.mq('-md') {
    .u-mb60 {
      margin-bottom: 30px;
    }
    .u-mb40 {
      margin-bottom: 25px;
    }
  }
